.publication-one-wrapper
  .section-info
    .header
      font-size:  2em
      padding-right: 30px
      @media #{$large-up}
        max-width: 80%
  .main-background
    padding: 50px 0
  .breadcrumbs
    +clearfix
    margin-bottom: 30px
    .block
      float: left
      a
        font-size: 0.875em
        color: $red
      &.current
        a
          color: $light-brown
      svg
        fill: $red
        width: 20px
        height: 20px
        +rotate(270deg)
        position: relative
        top: 3px
  .header-2
    font-size: 1.5em
    color: $brown
    font-weight: bold
    margin: 30px 0
  .header-3
    font-size: 1.25em
    color: $brown
    font-weight: bold
    margin: 30px 0
  .regular
    margin: 30px 0
  ul
    list-style: none
    padding-left: 50px
    @media #{$small-only}
      padding-left: 30px
    li
      position: relative
      color: $brown
      line-height: 18px
      margin: 15px 0
      @media #{$small-only}
        margin: 10px 0
      &:before
        content: ''
        width: 6px
        height: 6px
        background-color: $red
        position: absolute
        left: -20px
        top: 10px
        +rotate(45deg)
  .img-container
    height: 300px
    position: relative
    margin: 30px 0 60px
    p
      position: absolute
      background-color: $brown
      line-height: 40px
      padding: 0 50px
      bottom: -20px
      right: 20px
      color: rgba(255,255,255,0.75)
      font-style: italic
      font-size: 1.125em
  .tag-container
    +clearfix
    .tag
      font-size: 1.125em
      margin-right: 10px
      padding-bottom: 10px
    .block
      float: left
      text-align: center
      cursor: pointer
      background-color: $brown
      margin-right: 5px
      margin-bottom: 5px
      padding: 5px 10px
      p
        color: #fff
        font-style: italic
        font-size: 0.875em
  .right-side
    padding-left: 20px
    margin-left: 20px
    border-left: 1px solid rgba(0,0,0,0.3)
    @media #{$medium-only}
      width: 500px
      margin: 0 auto
    @media #{$small-only}
      padding-left: 0
      padding-top: 20px
      border-left: none
      border-top: 1px solid rgba(0,0,0,0.3)
      margin-left: 0
    .regular
      margin: 50px 0 10px
    ul
      padding-left: 23px
      li
        color: $light-brown
        font-style: italic
        +transition(0.1s)
        &:hover
          color: $red
  .nav-button-wrapper
    background: url(#{asset_path('png/main-background.png')})
    +clearfix
    .left-nav-button, .right-nav-button
      height: 130px
      cursor: pointer
      +clearfix
      .img-container
        position: relative
        overflow: hidden
        width: 130px
        height: 100%
        margin: 0
        float: left
        z-index: 1
        display: none
        @media #{$large-up}
          display: block
        @media #{$small-only}
          width: 80px
          height: 80px
      .img
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-position: center
        background-size: cover
        +transition(0.2s)
      .text
        border-top: 1px solid rgba(0,0,0,0.3)
        float: left
        position: relative
        top: 50%
        // padding: 20px 40px
        +translate(0,-50%)
        +transition(0.2s)
        width: 500px
        @media #{$small-only}
          width: calc(100% - 80px)
        p
          line-height: 25px
          color: $brown
          text-transform: uppercase
          font-size: 1.125em
          +transition(0.2s)
          @media #{$small-only}
            line-height: 22px
            font-size: 1em
        svg
          fill: $brown
          width: 12px
          height: 20px
          +transition(0.2s)
      &:hover
        .img
          +scale(1.1)
        p
          color: $red
        svg
          fill: $red
    .left-nav-button
      float: left
      text-align: left
      .text
        left: -1px
        padding: 20px 10px 20px 40px
        @media #{$small-only}
          padding: 10px 10px 10px 40px
      svg
        position: absolute
        left: 15px
        top: 25px
    .right-nav-button
      float: right
      text-align: right
      .text
        right: -1px
        padding: 20px 40px 20px 10px
        @media #{$small-only}
          padding: 10px 40px 10px 10px
      svg
        position: absolute
        right: 15px
        top: 25px  